<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Vienna Home Concept</title>

  <!-- Bootstrap Core CSS -->
  <%= stylesheet_link_tag "bootstrap.min.css" %>
  <!-- Custom Fonts -->
  <%= stylesheet_link_tag "all.min.css" %>

  <%= stylesheet_link_tag "simple-line-icons.css" %>
  <%= stylesheet_link_tag "animate.min.css" %>
  <%= stylesheet_link_tag "owl.carousel.min.css" %>

  <!-- Custom CSS -->
  <%= stylesheet_link_tag "stylish-portfolio.min.css" %>
  <%= stylesheet_link_tag "icofont.min.css" %>
  <%= stylesheet_link_tag "aos.css" %>
  <%= stylesheet_link_tag "venobox.css" %>
  <%= stylesheet_link_tag "line-awesome.min.css" %>
  <%= stylesheet_link_tag "stylevienna.css" %>






  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">



</head>

<body id="page-top">

  <!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
    <i class="fa fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="#page-top">Vienna Home</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#page-top">Home</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#about">About</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#services">Services</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#portfolio">Portfolio</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#contact">Contact</a>
      </li>
    </ul>
  </nav>

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style='background: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url(<%= asset_path 'viennahome/fontvienna.jpg' %>)center no-repeat; background-size: cover; background-position: center;background-repeat: no-repeat;' >
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">Vienna Home</h2>
                <p class="animate__animated animate__fadeInUp">Get furniture product here.</p>
                <div>
                  <a href="#menu" class="btn-menu btn btn-secondary animate__animated animate__fadeInUp scrollto">Our Product</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
            <div class="carousel-item" style='background: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url("/assets/sofafont-7ff7332ddcbd32e23c2f3cdcd1904e76d630679ad2ce87e109f416fd232cf1bd.png") center no-repeat; background-size: cover; background-position: center;background-repeat: no-repeat;' >
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">Vienna Home</h2>
                <p class="animate__animated animate__fadeInUp">Get furniture product here.</p>
                <div>
                  <a href="#menu" class="btn-menu btn btn-secondary animate__animated animate__fadeInUp scrollto">Our Product</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Slide 3 -->
          <div class="carousel-item" style='background: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url("/assets/sofafont2-cf5bb8d6e0825bb84c29854ce51d2944620e40536446bbadd16418b493f29d83.png") right no-repeat; background-size: cover; background-position: center;background-repeat: no-repeat;' >
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">Vienna Home</h2>
                <p class="animate__animated animate__fadeInUp">Get furniture product here.</p>
                <div>
                  <a href="#menu" class="btn-menu btn btn-secondary animate__animated animate__fadeInUp scrollto">Our Product</a>
                </div>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon fa fa-angle-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon fa fa-angle-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- End Hero -->

  <!-- About -->
  <section class="content-section bg-light" id="about">
    <div class="container text-center">
      <div class="row" data-aos="fade-down">
        <div class="col-lg-10 mx-auto" >
          <h2>We are home furniture manufacturer. We build, design, create and sell furniture products. </h2>
          <p class="lead mb-5">Our purpose is to supply best value-for-money products to our customer.</p>
          <a class="btn btn-dark btn-xl js-scroll-trigger" href="#services">What We Offer</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Services -->
  <section class="content-section bg-secondary text-white text-center" id="services">
    <div class="container">
      <div class="content-section-heading">
        <h3 class="text-secondary mb-0">Services</h3>
        <h2 class="mb-5">What We Offer</h2>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3" style="color:#808080;">
            <i class="fa fa-home"></i>
          </span>
          <h4>
            <strong>Quality</strong>
          </h4>
          <p class="text-faded mb-0">We concerned about our product quality.</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3" style="color:#808080;">
            <i class="fa fa-thumbs-o-up"></i>
          </span>
          <h4>
            <strong>Satisfy Customer</strong>
          </h4>
          <p class="text-faded mb-0">Check for customer understanding </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
          <span class="service-icon rounded-circle mx-auto mb-3" style="color:#808080;">
            <i class="fa fa-handshake-o"></i>
          </span>
          <h4>
            <strong>Value</strong>
          </h4>
          <p class="text-faded mb-0">
            Ensure product and service is best suited for a customer segment.
          </p>
        </div>
        <div class="col-lg-3 col-md-6">
          <span class="service-icon rounded-circle mx-auto mb-3" style="color:#808080;">
            <i class="fa fa-user-circle-o"></i>
          </span>
          <h4>
            <strong>Build Relationships</strong>
          </h4>
          <p class="text-faded mb-0">Establishing and maintaining relationships between our customers. </p>
        </div>
      </div>
    </div>
  </section>




    <!-- ======= Works Section ======= -->
    <section class="section site-portfolio" id="work">
      <div class="">
        <div class="row mb-5 align-items-center">
          <div class="col-md-12 col-lg-6 mb-4 mb-lg-0" data-aos="fade-up">
          </div>
          <div class="col-md-12 col-lg-6 text-left text-lg-right" data-aos="fade-up" data-aos-delay="100">
            <div id="filters" class="filters">
              <a href="#" data-filter="*" class="active">All</a>
              <a href="#" data-filter=".1seat">1 Seater Sofa</a>
              <a href="#" data-filter=".2seat">2 Seater Sofa</a>
              <a href="#" data-filter=".3seat">3 Seater Sofa</a>
              <a href="#" data-filter=".lseat">L Shape Sofa</a>
            </div>
          </div>
        </div>
        <div id="portfolio-grid" class="row no-gutter" data-aos="fade-up" data-aos-delay="200">
          <div class="item 1seat col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="/assets/1seatsofa-13c186c64b4a5c77b43987c60c638ee9d94ad959833b754edbed84f03c80405b.png" class="item-wrap venobox" title="1 Seater Sofa">
              <div class="work-info">
                <h3>Sofa</h3>
                <span>1 Seater Sofa</span>
              </div>
              <img class="img-fluid" src="/assets/1seatsofa-13c186c64b4a5c77b43987c60c638ee9d94ad959833b754edbed84f03c80405b.png">
            </a>
          </div>
          <div class="item lseat col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="/assets/1seatsofa-13c186c64b4a5c77b43987c60c638ee9d94ad959833b754edbed84f03c80405b.png" class="item-wrap venobox" title="1 Seater Sofa">
              <div class="work-info">
                <h3>Sofa</h3>
                <span>L Shape Sofa</span>
              </div>
              <img class="img-fluid" src="/assets/3seatlong-692e7458ba083a4392784b73172f516ad5029128053a82a3101dee0456cd30f7.png ">
            </a>
          </div>
          <div class="item 3seat col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="/assets/1seatsofa-13c186c64b4a5c77b43987c60c638ee9d94ad959833b754edbed84f03c80405b.png" class="item-wrap venobox" title="1 Seater Sofa">
              <div class="work-info">
                <h3>Sofa</h3>
                <span>3 Seater Sofa</span>
              </div>
              <img class="img-fluid" src="/assets/3seatsofa2-d71ad2d6594945cee0c72042e3f1e6dc08424f7b149a0581b418b25d7f98a6fe.png ">
            </a>
          </div>
         <div class="item 3seat col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="/assets/1seatsofa-13c186c64b4a5c77b43987c60c638ee9d94ad959833b754edbed84f03c80405b.png" class="item-wrap venobox" title="1 Seater Sofa">
              <div class="work-info">
                <h3>Sofa</h3>
                <span>3 Seater Sofa</span>
              </div>
              <img class="img-fluid" src="/assets/3seatsofa4-1541032bcbe5f165b82b411bbf40863bf9377bc1dabe8025a36e87ce273bdb9f.png">
            </a>
          </div>          
          <div class="item lseat col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="/assets/1seatsofa-13c186c64b4a5c77b43987c60c638ee9d94ad959833b754edbed84f03c80405b.png" class="item-wrap venobox" title="1 Seater Sofa">
              <div class="work-info">
                <h3>Sofa</h3>
                <span>L Shape Sofa</span>
              </div>
              <img class="img-fluid" src="assets/4seatlong-0dcb2333b3f6467a7851f5be8b46781f59b331f0c1bfcbd3325cd50997cd3244.png">
            </a>
          </div>
          <div class="item 3seat col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="/assets/1seatsofa-13c186c64b4a5c77b43987c60c638ee9d94ad959833b754edbed84f03c80405b.png" class="item-wrap venobox" title="1 Seater Sofa">
              <div class="work-info">
                <h3>Sofa</h3>
                <span>3 Seater Sofa</span>
              </div>
              <img class="img-fluid" src="/assets/3seatsofa1-a29ac8ba751b80772579fc8d4292352590ce18087f62e4e410ef8ad30764a499.png">
            </a>
          </div>            
          <div class="item 1seat col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="/assets/1seatsofa-13c186c64b4a5c77b43987c60c638ee9d94ad959833b754edbed84f03c80405b.png" class="item-wrap venobox" title="1 Seater Sofa">
              <div class="work-info">
                <h3>Sofa</h3>
                <span>1 Seater Sofa</span>
              </div>
              <img class="img-fluid" src="/assets/1seatsofa1-3379cb095fcf62297d62d4bcaea396222b4f8610cb8e1242d0e111dfbbdfa46f.png ">
            </a>
          </div>
          <div class="item 2seat col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="/assets/1seatsofa-13c186c64b4a5c77b43987c60c638ee9d94ad959833b754edbed84f03c80405b.png" class="item-wrap venobox" title="1 Seater Sofa">
              <div class="work-info">
                <h3>Sofa</h3>
                <span>2 Seater Sofa</span>
              </div>
              <img class="img-fluid" src="/assets/2seatsofa1-917344ea16dd299c48767f62c3e40c42feeb90a0ecefc05d446facdef51a2a23.png ">
            </a>
          </div>
          <div class="item 3seat col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="/assets/1seatsofa-13c186c64b4a5c77b43987c60c638ee9d94ad959833b754edbed84f03c80405b.png" class="item-wrap venobox" title="1 Seater Sofa">
              <div class="work-info">
                <h3>Sofa</h3>
                <span>3 Seater Sofa</span>
              </div>
              <img class="img-fluid" src="/assets/3seatsofa-69b9cf98384a093c203a3ce2c292b7dbc1e531ac92ac7f48a5ce13e32314fca7.png ">
            </a>
          </div>          
          <div class="item lseat col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="/assets/1seatsofa-13c186c64b4a5c77b43987c60c638ee9d94ad959833b754edbed84f03c80405b.png" class="item-wrap venobox" title="1 Seater Sofa">
              <div class="work-info">
                <h3>Sofa</h3>
                <span>L Shape Sofa</span>
              </div>
              <img class="img-fluid" src="/assets/3seatlong2-536aab57f51f3df45a84563df9274d72257fa7fe991665a33c66977aa6848cae.png ">
            </a>
          </div>
          <div class="item 1seat col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="/assets/1seatsofa-13c186c64b4a5c77b43987c60c638ee9d94ad959833b754edbed84f03c80405b.png" class="item-wrap venobox" title="1 Seater Sofa">
              <div class="work-info">
                <h3>Sofa</h3>
                <span>1 Seater Sofa</span>
              </div>
              <img class="img-fluid" src="/assets/1seatsofa3-042318921216a1c47b0be1fcd3f148c2a6a6d0a591d4be27bef2631bd9ecd9c3.png">
            </a>
          </div>  
          <div class="item 2seat col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="/assets/1seatsofa-13c186c64b4a5c77b43987c60c638ee9d94ad959833b754edbed84f03c80405b.png" class="item-wrap venobox" title="1 Seater Sofa">
              <div class="work-info">
                <h3>Sofa</h3>
                <span>2 Seater Sofa</span>
              </div>
              <img class="img-fluid" src="/assets/2seatsofa3-7bb6ac263993783f6918bded23b8324872e412826e49e539eb1f0eeb5a9b3ffa.png">
            </a>
          </div>  
          <div class="item 3seat col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="/assets/1seatsofa-13c186c64b4a5c77b43987c60c638ee9d94ad959833b754edbed84f03c80405b.png" class="item-wrap venobox" title="1 Seater Sofa">
              <div class="work-info">
                <h3>Sofa</h3>
                <span>3 Seater Sofa</span>
              </div>
              <img class="img-fluid" src="/assets/3seatsofa3-dca2e96be9dd264c2b1f1a2f4170f57ba2fa88d4ad2aaccf1ab7517dec3310a9.png">
            </a>
          </div>            
          <div class="item lseat col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="/assets/1seatsofa-13c186c64b4a5c77b43987c60c638ee9d94ad959833b754edbed84f03c80405b.png" class="item-wrap venobox" title="1 Seater Sofa">
              <div class="work-info">
                <h3>Sofa</h3>
                <span>L Shape Sofa</span>
              </div>
              <img class="img-fluid" src=" /assets/3seatsofa5-06726fba5658e53f069981fcc0095ec6189b9914bf79020615ff0177d76b4f55.png">
            </a>
          </div>            
      </div>
    </section><!-- End  Works Section -->

 

  <!-- Call to Action -->
   <section id="contact" class="contact bg-secondary">
      
      <div class="container text-center">       
        <h3 class="text-secondary mb-0">Portfolio</h3>
        <h2 class="mx-auto mb-5" style="color: white; font-size: 3.5rem;">Contact Us
          </h2>
      </div>

        <div class="info-wrap">
          <div class="row">

            <div class="col-lg-12  col-sm-12 col-md-12 info" style="text-align: center;">
              <h2>Bandar Utama Showroom</h2> 
            </div>
 
            <div class="col-lg-3  col-sm-6 col-md-6 info">
              <i class="fa fa-location-arrow"></i>
              <h4>Location:</h4>
              <p>Westpoint Unit L1-3 Lebuh Bandar Utama, Pju 6A, Lebuh Bandar Utama, Bandar Utama, 47400 Petaling Jaya, Selangor</p>
            </div>

            <div class="col-lg-3  col-sm-6 col-md-6 info">
              <i class="fa fa-clock-o "></i>
              <h4>Open Hours:</h4>
              <p>Monday-Sunday:<br>10:30 AM - 9:00 PM</p>
            </div>

            <div class="col-lg-3  col-sm-6 col-md-6 info">
              <i class="fa fa-envelope"></i>
              <h4>Email:</h4>
              <p>vienna.homeconcept@gmail.com</p>
            </div>

            <div class="col-lg-3  col-sm-6 col-md-6 info">
              <i class="fa fa-phone"></i>
              <h4>Call:</h4>
              <a href="https://wa.link/9sprlq"><p>+6 0183769342 </p></a>
            </div>
          </div>
     
  </section>

  <!-- Map -->
  <div id="contact" class="map">
    <iframe src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJEXJAG0-0zTEREY6x57MTrbM&key=AIzaSyBRW_afzr56mGQf3vbzr2oNWXQ9_4JxGlw"></iframe>
    <br />
    <small>
      <a href="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJEXJAG0-0zTEREY6x57MTrbM&key=AIzaSyBRW_afzr56mGQf3vbzr2oNWXQ9_4JxGlw"></a>
    </small>
  </div>

  <!-- Call to Action -->
   <section id="contact" class="contact bg-secondary">
      
        <div class="info-wrap">
          <div class="row">

            <div class="col-lg-12  col-sm-12 col-md-12 info" style="text-align: center;">
              <h2>Giant Kota Damansara</h2> 
            </div>

            <div class="col-lg-3  col-sm-6 col-md-6 info">
              <i class="fa fa-location-arrow"></i>
              <h4>Location:</h4>
              <p>F63 & F64, Giant Kota Damansara, Jalan PJU 5/1, Jalan No.13a, PJU 5 Kota Damansara, 47810 Petaling Jaya</p>
            </div>

            <div class="col-lg-3  col-sm-6 col-md-6 info">
              <i class="fa fa-clock-o "></i>
              <h4>Open Hours:</h4>
              <p>Monday-Sunday:<br>8:00 am – 11:45 pm<br>(Mall time as standard)</p>
            </div>

            <div class="col-lg-3  col-sm-6 col-md-6 info">
              <i class="fa fa-envelope"></i>
              <h4>Email:</h4>
              <p>vienna.homeconcept@gmail.com</p>
            </div>

            <div class="col-lg-3  col-sm-6 col-md-6 info">
              <i class="fa fa-phone"></i>
              <h4>Call:</h4>
              <a href="https://wa.link/f2v1ey"><p>+6 011-31384733 </p></a>
            </div>
          </div>
     
  </section>

  <!-- Map -->
  <div id="contact" class="map">
    <iframe src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ5QamfxpPzDER_U-aPhtEnqI&key=AIzaSyBRW_afzr56mGQf3vbzr2oNWXQ9_4JxGlw"></iframe>
    <br />
    <small>
      <a href="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ5QamfxpPzDER_U-aPhtEnqI&key=AIzaSyBRW_afzr56mGQf3vbzr2oNWXQ9_4JxGlw"></a>
    </small>
  </div>


  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" style="background-color: #6c757d;" href="https://www.facebook.com/Vienna.HomeConcept">
            <i class="fa fa-facebook" ></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" style="background-color: #6c757d;" href="https://www.instagram.com/viennahomeconcept/">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" style="background-color: #6c757d;" href="https://wa.link/9sprlq">
            <i class="fa fa-whatsapp"></i>
          </a>
        </li>
      </ul>
    <div class="copyright">
        &copy;  Copyright  2020   <strong><span>Vienna Home Concept</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/maxim-free-onepage-bootstrap-theme/ -->
        Designed by <a>TWEB COMMERCE SERVICES</a>
      </div>
    </div>
  </footer>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fa fa-angle-up"></i>
  </a>



  <!-- Bootstrap core JavaScript -->
    <%= javascript_include_tag "jquery.min.js"%>
    <%= javascript_include_tag "bootstrap.bundle.min.js"%>
    <%= javascript_include_tag "jquery.easing.min.js"%>
    <%= javascript_include_tag "stylish-portfolio.min.js"%>
    <%= javascript_include_tag "owl.carousel.min.js"%>
    <%= javascript_include_tag "validate.js"%>
    <%= javascript_include_tag "aos.js"%>
    <%= javascript_include_tag "venobox.min.js"%>
    <%= javascript_include_tag "isotope.pkgd.min.js"%>

    <%= javascript_include_tag "mainvienna.js"%>

</body>

</html>
