  <!-- ======= Footer ======= -->
  <footer id="footer" class="section-bg">
    <div class="footer-top">
      <div class="container">

        <div class="row">

          <div class="col-lg-12">

            <div class="row">

              <div class="col-sm-6">

                <div class="footer-info">
                  <h3 style="font-size:25px;">FLYING ENGINEERING</h3>
                  <p>We are mainly focus on building. Our job is design, install and maintain cost-effective and energy efficient systems for building services. Priority is the safety and provide good building product as well. </p>
                </div>

                <div class="social-links">
                  <a href="" class="twitter"><i>&nbsp;</i></a>
                  <a href="https://www.facebook.com/Flying-Engineering-Works-100171131918691" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
                  <a href="" class="instagram"><i>&nbsp;</i></a>
                  <a href="https://wa.link/s5iye5" target="_blank"  class="whatapps"><i class="fa fa-whatsapp"></i></a>
                </div>


              </div>

              <div class="col-sm-6">
                <div class="footer-links">
                  <h4>Useful Links</h4>
                  <ul>
                    <li class="my-link"><%= link_to "Home", flyingengineering_home_index_path(anchor: "hero")%></li>
                    <li class="my-link"><%= link_to "About Us", flyingengineering_home_index_path(anchor: "about")%></li>
                    <li class="my-link"><%= link_to "Services", flyingengineering_home_index_path(anchor: "service")%></li>
                    <li class="my-link"><%= link_to "Clients", flyingengineering_home_index_path(anchor: "clients")%></li>
                    <li class="my-link"><%= link_to "Contact", flyingengineering_home_index_path(anchor: "call-to-action")%></li>
                  </ul>
                </div>

                <div class="footer-links">
                  <h4>Contact Us</h4>
                  <p>
                    Lot 16013 & 16014, <br>
                     Perusahaan Ringgan Batu 5,<br>
                    Jalan Jati, Off Batu 5 1⁄2, <br>
                    Jalan Meru 41050 Selangor.<br>
                    <strong>Phone:</strong> +6 012-756 6280<br>
                    <strong>Email:</strong> flyingengrg@gmail.com<br>
                  </p>
                </div>

              </div>

            </div>

          </div> 

        </div>

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>FLYING ENGINEERING WORKS</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Rapid
      -->
        Designed by <a href="https://bootstrapmade.com/">TWEB COMMERCE SERVICES</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

 <!-- Vendor JS Files -->
  <%= javascript_include_tag "jquery.min.js"%>
  <%= javascript_include_tag "bootstrap.bundle.min.js"%>
  <%= javascript_include_tag "jquery.easing.min.js"%>
  <%= javascript_include_tag "validate.js"%>
  <%= javascript_include_tag "counterup.min.js"%>
  <%= javascript_include_tag "jquery.easing.min.js"%>
  <%= javascript_include_tag "isotope.pkgd.min.js"%>
  <%= javascript_include_tag "validate.js"%>
  <%= javascript_include_tag "owl.carousel.min.js"%>
  <%= javascript_include_tag "venobox.min.js"%>
  <%= javascript_include_tag "owl.carousel.min.js"%>
  <%= javascript_include_tag "aos.js"%>
  <!-- Template Main JS File -->
  <%= javascript_include_tag "flyingengineeringmain.js"%>

