<div class="row mt20 mb20">
  <%= render 'header.html.erb' %>
</div>

  <!-- ======= Hero Section ======= -->
  <section id="product-hero" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center" data-aos="fade-up">
        <div class="col-md-6 intro-info order-md-first order-last" data-aos="zoom-in" data-aos-delay="100">
          <h2>Awning</h2>
          <h4><span></span></h4>
          <div>
          </div>
        </div>

        <div class="col-md-6 intro-img order-md-last order-first" data-aos="zoom-out" data-aos-delay="200">
          <img src="assets/img/intro-img.svg" alt="" class="img-fluid">
        </div>
      </div>

    </div>
  </section><!-- End Hero -->

<br>
  <main id="main">

    <!-- ======= Works Section ======= -->
    <section class="section site-portfolio">
      <div class="container">
        <div class="row mb-5 align-items-center">
          <div class="col-md-12 col-lg-6 mb-4 mb-lg-0" data-aos="fade-up">
            <h2>Our Portfolio</h2>
            <p class="mb-0"></p>
          </div>
        </div>
        <div id="portfolio-grid" class="row no-gutter" data-aos="fade-up" data-aos-delay="200">
          <div class="item web col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/awning1.jpg')%>" class="item-wrap venobox" >
              <div class="work-info">
                <h3>Awning 1</h3>
                
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/awning1.jpg')%>" style=" max-height:400px; max-width:470px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/awning2.jpg')%>" class="item-wrap venobox">
              <div class="work-info">
                <h3>Awning 2</h3>
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/awning2.jpg')%>" style=" max-height:400px; max-width:470px;">
            </a>
          </div>
          <div class="item branding col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/awning3.jpg')%>" class="item-wrap venobox">
              <div class="work-info">
                <h3>Awning 3</h3>
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/awning3.jpg')%>" style=" max-height:400px;max-width:625px;">
            </a>
          </div>
          <div class="item design col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/awning4.jpg')%> " class="item-wrap venobox">
              <div class="work-info">
                <h3>Awning 4</h3>
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/awning4.jpg')%> "style=" max-height:400px; max-width:470px;" >
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/awning5.jpg')%>" class="item-wrap venobox">
              <div class="work-info">
                <h3>Awning 5</h3>
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/awning5.jpg')%>" style=" max-height:400px; max-width:470px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/awning6.jpg')%>" class="item-wrap venobox">
              <div class="work-info">
                <h3>Awning 6</h3>
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/awning6.jpg')%>"style=" max-height:400px; max-width:470px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/awning7.jpg')%> " class="item-wrap venobox">
              <div class="work-info">
                <h3>Awning 7</h3>
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/awning7.jpg')%>"style=" max-height:400px; max-width:470px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/awning8.jpg')%> " class="item-wrap venobox">
              <div class="work-info">
                <h3>Awning 8</h3>
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/awning8.jpg')%>"style=" max-height:400px; max-width:470px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/awning9.jpg')%>" class="item-wrap venobox">
              <div class="work-info">
                <h3>Awning 9</h3>
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/awning9.jpg')%>"style=" max-height:400px; max-width:470px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/awning10.jpg')%>" class="item-wrap venobox">
              <div class="work-info">
                <h3>Awning 10</h3>
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/awning10.jpg')%>"style=" max-height:400px; max-width:470px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/awning11.jpg')%> " class="item-wrap venobox">
              <div class="work-info">
                <h3>Awning 11</h3>
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/awning11.jpg')%>"style=" max-height:400px; max-width:470px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/awning12.jpg')%>" class="item-wrap venobox">
              <div class="work-info">
                <h3>Awning 12</h3>
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/awning12.jpg')%>"style=" max-height:400px; max-width:470px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/awning13.jpg')%>" class="item-wrap venobox">
              <div class="work-info">
                <h3>Awning 13</h3>
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/awning13.jpg')%>"style=" max-height:350px; max-width:470px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/awning14.jpg')%>" class="item-wrap venobox">
              <div class="work-info">
                <h3>Awning 14</h3>
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/awning14.jpg')%>"style=" max-height:350px; max-width:470px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/awning15.jpg')%> " class="item-wrap venobox">
              <div class="work-info">
                <h3>Awning 15</h3>
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/awning15.jpg')%> "style="max-height:400px; max-width:470px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/awning16.jpg')%>" class="item-wrap venobox">
              <div class="work-info">
                <h3>Awning 16</h3>
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/awning16.jpg')%> "style="max-height:400px; max-width:470px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/awning17.jpg')%>" class="item-wrap venobox"style="max-height:400px; max-width:470px;">
              <div class="work-info">
                <h3>Awning 17</h3>
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/awning17.jpg')%>" style="max-height:400px; max-width:470px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/awning18.jpg')%> " class="item-wrap venobox">
              <div class="work-info">
                <h3>Awning 18</h3>
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/awning18.jpg')%>" style="max-height:400px; max-width:470px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/awning19.jpg')%>" class="item-wrap venobox">
              <div class="work-info">
                <h3>Awning 19</h3>
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/awning19.jpg')%>" style="max-height:400px; max-width:470px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/awning20.jpg')%>" class="item-wrap venobox">
              <div class="work-info">
                <h3>Awning 20</h3>
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/awning20.jpg')%>"style="max-height:400px; max-width:470px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href=" <%= asset_path('flyingengineering/awning21.jpg')%>" class="item-wrap venobox">
              <div class="work-info">
                <h3>Awning 21</h3>
              </div>
              <img class="img-fluid" src=" <%= asset_path('flyingengineering/awning21.jpg')%>"style="max-height:400px; max-width:470px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/awning22.jpg')%> " class="item-wrap venobox">
              <div class="work-info">
                <h3>Awning 22</h3>
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/awning22.jpg')%> "style="max-height:400px; max-width:470px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/awning23.jpg')%>" class="item-wrap venobox">
              <div class="work-info">
                <h3>Awning 23</h3>
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/awning23.jpg')%>"style="max-height:400px; max-width:470px;">
            </a>
          </div>
        </div>
      </div>
    </section><!-- End  Works Section -->

  
  </main><!-- End #main -->

<div>
  <%= render 'footer.html.erb' %>
</div>

