<div class="row mt20 mb20">
  <%= render 'header.html.erb' %>
</div>

  <!-- ======= Hero Section ======= -->
  <section id="product-hero" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center" data-aos="fade-up">
        <div class="col-md-6 intro-info order-md-first order-last" data-aos="zoom-in" data-aos-delay="100">
          <h2>Custom Steel Work</h2>
          <h4><span></span></h4>
          <div>
          </div>
        </div>

        <div class="col-md-6 intro-img order-md-last order-first" data-aos="zoom-out" data-aos-delay="200">
          <img src="assets/img/intro-img.svg" alt="" class="img-fluid">
        </div>
      </div>

    </div>
  </section><!-- End Hero -->

<br>
  <main id="main">

    <!-- ======= Works Section ======= -->
    <section class="section site-portfolio">
      <div class="container">
        <div class="row mb-5 align-items-center">
          <div class="col-md-12 col-lg-6 mb-4 mb-lg-0" data-aos="fade-up">
            <h2>Our Portfolio</h2>
            <p class="mb-0"></p>
          </div>
        </div>




        <div id="portfolio-grid" class="row no-gutter" data-aos="fade-up" data-aos-delay="200">
          <div class="item web col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/customsteel1.jpg') %>"class="item-wrap venobox">
              <div class="work-info">
                <h3>Custom Steel Work 1</h3>
                
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/customsteel1.jpg') %> " style=" max-height:400px; max-width:600px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/customsteel2.jpg') %>"class="item-wrap venobox">
              <div class="work-info">
                <h3>Custom Steel Work 2</h3>
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/customsteel2.jpg') %> " style=" max-height:400px; max-width:600px;">
            </a>
          </div>
          <div class="item branding col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/customsteel3.jpg') %>"class="item-wrap venobox">
              <div class="work-info">
                <h3>Custom Steel Work 3</h3>
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/customsteel3.jpg') %> " style=" max-height:400px;max-width:625px;">
            </a>
          </div>
          <div class="item design col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/customsteel4.jpg') %>"class="item-wrap venobox">
              <div class="work-info">
                <h3>Custom Steel Work 4</h3>
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/customsteel4.jpg') %> "style=" max-height:400px; max-width:600px;" >
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/customsteel5.jpg') %>"class="item-wrap venobox">
              <div class="work-info">
                <h3>Custom Steel Work 5</h3>
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/customsteel5.jpg') %> " style=" max-height:400px; max-width:470px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/customsteel6.jpg') %>"class="item-wrap venobox">
              <div class="work-info">
                <h3>Custom Steel Work 6</h3>
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/customsteel6.jpg') %> "style=" max-height:400px; max-width:600px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/customsteel7.jpg') %>"class="item-wrap venobox">
              <div class="work-info">
                <h3>Custom Steel Work 7</h3>
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/customsteel7.jpg') %> "style=" max-height:400px; max-width:600px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/customsteel8.jpg') %>"class="item-wrap venobox">
              <div class="work-info">
                <h3>Custom Steel Work 8</h3>
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/customsteel8.jpg') %> "style=" max-height:400px; max-width:470px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/customsteel9.jpg') %>"class="item-wrap venobox">
              <div class="work-info">
                <h3>Custom Steel Work 9</h3>
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/customsteel9.jpg') %> "style=" max-height:400px; max-width:470px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/customsteel10.jpg') %>"class="item-wrap venobox">
              <div class="work-info">
                <h3>Custom Steel Work 10</h3>
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/customsteel10.jpg') %> "style=" max-height:400px; max-width:600px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/customsteel11.jpg') %>" class="item-wrap venobox">
              <div class="work-info">
                <h3>Custom Steel Work 11</h3>
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/customsteel11.jpg') %> "style=" max-height:400px; max-width:470px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/customsteel12.jpg') %>"class="item-wrap venobox">
              <div class="work-info">
                <h3>Custom Steel Work 12</h3>
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/customsteel12.jpg') %> "style=" max-height:400px; max-width:600px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/customsteel13.jpg') %>"class="item-wrap venobox">
              <div class="work-info">
                <h3>Custom Steel Work 13</h3>
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/customsteel13.jpg') %> "style=" max-height:400px; max-width:600px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/customsteel14.jpg') %>"class="item-wrap venobox">
              <div class="work-info">
                <h3>Custom Steel Work 14</h3>
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/customsteel14.jpg') %> "style=" max-height:400px; max-width:600px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/customsteel15.jpg') %>" class="item-wrap venobox">
              <div class="work-info">
                <h3>Custom Steel Work 15</h3>
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/customsteel15.jpg') %> "style="max-height:400px; max-width:470px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/customsteel16.jpg') %>"class="item-wrap venobox">
              <div class="work-info">
                <h3>Custom Steel Work 16</h3>
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/customsteel16.jpg') %> "style="max-height:400px; max-width:600px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/customsteel17.jpg') %>"class="item-wrap venobox"style="max-height:400px; max-width:600px;">
              <div class="work-info">
                <h3>Custom Steel Work 17</h3>
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/customsteel17.jpg') %> "style="max-height:400px; max-width:600px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/customsteel18.jpg') %>" class="item-wrap venobox">
              <div class="work-info">
                <h3>Custom Steel Work 18</h3>
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/customsteel18.jpg') %> "style="max-height:400px; max-width:470px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/customsteel19.jpg') %>"class="item-wrap venobox">
              <div class="work-info">
                <h3>Custom Steel Work 19</h3>
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/customsteel19.jpg') %> "style="max-height:400px; max-width:600px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/customsteel20.jpg') %>"class="item-wrap venobox">
              <div class="work-info">
                <h3>Custom Steel Work 20</h3>
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/customsteel20.jpg') %> "style="max-height:400px; max-width:600px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/customsteel21.jpg') %>" class="item-wrap venobox">
              <div class="work-info">
                <h3>Custom Steel Work 21</h3>
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/customsteel21.jpg') %> "style="max-height:400px; max-width:600px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/customsteel22.jpg') %>" class="item-wrap venobox">
              <div class="work-info">
                <h3>Custom Steel Work 22</h3>
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/customsteel22.jpg') %> "style="max-height:400px; max-width:600px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/customsteel23.jpg') %>" class="item-wrap venobox">
              <div class="work-info">
                <h3>Custom Steel Work 23</h3>
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/customsteel23.jpg') %> "style="max-height:400px; max-width:470px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/customsteel24.jpg') %>" class="item-wrap venobox">
              <div class="work-info">
                <h3>Custom Steel Work 24</h3>
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/customsteel24.jpg') %> "style="max-height:400px; max-width:600px;">
            </a>
          </div>          
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('flyingengineering/customsteel25.jpg') %>"class="item-wrap venobox">
              <div class="work-info">
                <h3>Custom Steel Work 25</h3>
              </div>
              <img class="img-fluid" src="<%= asset_path('flyingengineering/customsteel25.jpg') %>" style="max-height:400px; max-width:470px;">
            </a>
          </div>
        </div>
      </div>
    </section><!-- End  Works Section -->

  

   

  </main><!-- End #main -->

<div>
  <%= render 'footer.html.erb' %>
</div>

