<div class="row mt20 mb20">
  <%= render 'header.html.erb' %>
</div>

  <!-- ======= Hero Section ======= -->
  <section id="product-hero" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center" data-aos="fade-up">
        <div class="col-md-6 intro-info order-md-first order-last" data-aos="zoom-in" data-aos-delay="100">
          <h2>platform</h2>
          <h4><span></span></h4>
          <div>
          </div>
        </div>

        <div class="col-md-6 intro-img order-md-last order-first" data-aos="zoom-out" data-aos-delay="200">
          <img src="assets/img/intro-img.svg" alt="" class="img-fluid">
        </div>
      </div>

    </div>
  </section><!-- End Hero -->

<br>
  <main id="main">

    <!-- ======= Works Section ======= -->
    <section class="section site-portfolio">
      <div class="container">
        <div class="row mb-5 align-items-center">
          <div class="col-md-12 col-lg-6 mb-4 mb-lg-0" data-aos="fade-up">
            <h2>Our Portfolio</h2>
            <p class="mb-0"></p>
          </div>
        </div>
        <div id="portfolio-grid" class="row no-gutter" data-aos="fade-up" data-aos-delay="200">
          <div class="item web col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%=asset_path('flyingengineering/platform24.jpg') %>"  class="item-wrap venobox">
              <div class="work-info">
                <h3>platform 1</h3>
                
              </div>
              <img class="img-fluid" src="<%=asset_path('flyingengineering/platform24.jpg') %>"  style=" max-height:400px; max-width:600px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%=asset_path('flyingengineering/platform23.jpg') %>"  class="item-wrap venobox">
              <div class="work-info">
                <h3>platform 2</h3>
              </div>
              <img class="img-fluid" src="<%=asset_path('flyingengineering/platform23.jpg') %>"  style=" max-height:400px; max-width:600px;">
            </a>
          </div>
          <div class="item branding col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%=asset_path('flyingengineering/platform22.jpg') %>"  class="item-wrap venobox">
              <div class="work-info">
                <h3>platform 3</h3>
              </div>
              <img class="img-fluid" src="<%=asset_path('flyingengineering/platform22.jpg') %>"  style=" max-height:400px;max-width:625px;">
            </a>
          </div>
          <div class="item design col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%=asset_path('flyingengineering/platform21.jpg') %> " class="item-wrap venobox">
              <div class="work-info">
                <h3>platform 4</h3>
              </div>
              <img class="img-fluid" src="<%=asset_path('flyingengineering/platform21.jpg') %> "style=" max-height:400px; max-width:470px;" >
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%=asset_path('flyingengineering/platform20.jpg') %>"  class="item-wrap venobox">
              <div class="work-info">
                <h3>platform 5</h3>
              </div>
              <img class="img-fluid" src="<%=asset_path('flyingengineering/platform20.jpg') %>"  style=" max-height:400px; max-width:470px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%=asset_path('flyingengineering/platform19.jpg') %>"  class="item-wrap venobox">
              <div class="work-info">
                <h3>platform 6</h3>
              </div>
              <img class="img-fluid" src="<%=asset_path('flyingengineering/platform19.jpg') %>" style=" max-height:400px; max-width:470px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%=asset_path('flyingengineering/platform18.jpg') %> " class="item-wrap venobox">
              <div class="work-info">
                <h3>platform 7</h3>
              </div>
              <img class="img-fluid" src="<%=asset_path('flyingengineering/platform18.jpg') %>" style=" max-height:400px; max-width:470px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%=asset_path('flyingengineering/platform17.jpg') %> " class="item-wrap venobox">
              <div class="work-info">
                <h3>platform 8</h3>
              </div>
              <img class="img-fluid" src="<%=asset_path('flyingengineering/platform17.jpg') %>" style=" max-height:400px; max-width:470px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%=asset_path('flyingengineering/platform16.jpg') %>"  class="item-wrap venobox">
              <div class="work-info">
                <h3>platform 9</h3>
              </div>
              <img class="img-fluid" src="<%=asset_path('flyingengineering/platform16.jpg') %>" style=" max-height:400px; max-width:470px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%=asset_path('flyingengineering/platform15.jpg') %> " class="item-wrap venobox">
              <div class="work-info">
                <h3>platform 10</h3>
              </div>
              <img class="img-fluid" src="<%=asset_path('flyingengineering/platform15.jpg') %> "style=" max-height:400px; max-width:470px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%=asset_path('flyingengineering/platform14.jpg') %>  " class="item-wrap venobox">
              <div class="work-info">
                <h3>platform 11</h3>
              </div>
              <img class="img-fluid" src="<%=asset_path('flyingengineering/platform14.jpg') %> "style=" max-height:400px; max-width:470px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%=asset_path('flyingengineering/platform13.jpg') %> " class="item-wrap venobox">
              <div class="work-info">
                <h3>platform 12</h3>
              </div>
              <img class="img-fluid" src="<%=asset_path('flyingengineering/platform13.jpg') %> "style=" max-height:400px; max-width:470px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%=asset_path('flyingengineering/platform12.jpg') %> " class="item-wrap venobox">
              <div class="work-info">
                <h3>platform 13</h3>
              </div>
              <img class="img-fluid" src="<%=asset_path('flyingengineering/platform12.jpg') %> "style=" max-height:350px; max-width:470px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%=asset_path('flyingengineering/platform11.jpg') %> " class="item-wrap venobox">
              <div class="work-info">
                <h3>platform 14</h3>
              </div>
              <img class="img-fluid" src="<%=asset_path('flyingengineering/platform11.jpg') %> "style=" max-height:350px; max-width:470px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%=asset_path('flyingengineering/platform10.jpg') %>  " class="item-wrap venobox">
              <div class="work-info">
                <h3>platform 15</h3>
              </div>
              <img class="img-fluid" src="<%=asset_path('flyingengineering/platform10.jpg') %>  "style="max-height:400px; max-width:470px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%=asset_path('flyingengineering/platform9.jpg') %> " class="item-wrap venobox">
              <div class="work-info">
                <h3>platform 16</h3>
              </div>
              <img class="img-fluid" src="<%=asset_path('flyingengineering/platform9.jpg') %>  "style="max-height:400px; max-width:470px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%=asset_path('flyingengineering/platform8.jpg') %> " class="item-wrap venobox"style="max-height:400px; max-width:470px;">
              <div class="work-info">
                <h3>platform 17</h3>
              </div>
              <img class="img-fluid" src="<%=asset_path('flyingengineering/platform8.jpg') %> " style="max-height:400px; max-width:470px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%=asset_path('flyingengineering/platform7.jpg') %>  " class="item-wrap venobox">
              <div class="work-info">
                <h3>platform 18</h3>
              </div>
              <img class="img-fluid" src="<%=asset_path('flyingengineering/platform7.jpg') %> " style="max-height:400px; max-width:470px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%=asset_path('flyingengineering/platform6.jpg') %> " class="item-wrap venobox">
              <div class="work-info">
                <h3>platform 19</h3>
              </div>
              <img class="img-fluid" src="<%=asset_path('flyingengineering/platform6.jpg') %> " style="max-height:400px; max-width:470px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%=asset_path('flyingengineering/platform5.jpg') %> " class="item-wrap venobox">
              <div class="work-info">
                <h3>platform 20</h3>
              </div>
              <img class="img-fluid" src="<%=asset_path('flyingengineering/platform5.jpg') %> "style="max-height:400px; max-width:470px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%=asset_path('flyingengineering/platform4.jpg') %>" class="item-wrap venobox">
              <div class="work-info">
                <h3>platform 21</h3>
              </div>
              <img class="img-fluid" src="<%=asset_path('flyingengineering/platform4.jpg') %>"style="max-height:400px; max-width:470px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%=asset_path('flyingengineering/platform3.jpg') %>  " class="item-wrap venobox">
              <div class="work-info">
                <h3>platform 22</h3>
              </div>
              <img class="img-fluid" src="<%=asset_path('flyingengineering/platform3.jpg') %>  "style="max-height:400px; max-width:470px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%=asset_path('flyingengineering/platform2.jpg') %> " class="item-wrap venobox">
              <div class="work-info">
                <h3>platform 23</h3>
              </div>
              <img class="img-fluid" src="<%=asset_path('flyingengineering/platform2.jpg') %> "style="max-height:400px; max-width:470px;">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%=asset_path('flyingengineering/platform1.jpg') %>" class="item-wrap venobox">
              <div class="work-info">
                <h3>platform 23</h3>
              </div>
              <img class="img-fluid" src="<%=asset_path('flyingengineering/platform1.jpg') %>"style="max-height:400px; max-width:470px;">
            </a>
          </div>
        </div>
      </div>
    </section><!-- End  Works Section -->

  

    
  </main><!-- End #main -->

<div>
  <%= render 'footer.html.erb' %>
</div>

