  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Chin San Nursery</h3>
            <p>
              7124, 19, 78000<br>
               Alor Gajah, Malacca <br>
              <strong>Phone:</strong> +012-666 5116<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="fa fa-chevron-right"></i> <a href="chinsan">Home</a></li>
              <li><i class="fa fa-chevron-right"></i> <a href="/chinsan#about">About Us</a></li>
              <li><i class="fa fa-chevron-right"></i> <a href="/chinsan#product">Product</a></li>
              <li><i class="fa fa-chevron-right"></i> <a href="/chinsan#contact">Contact Us</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="fa fa-chevron-right"></i> <a href="/animal/dog_feed">Dog Food</a></li>
              <li><i class="fa fa-chevron-right"></i> <a href="/animal/chicken_feed">Chicken Feed</a></li>
              <li><i class="fa fa-chevron-right"></i> <a href="/animal/fish_feed">Fish Feed</a></li>
              <li><i class="fa fa-chevron-right"></i> <a href="/animal/cat_feed">Cat Food</a></li>
              <li><i class="fa fa-chevron-right"></i> <a href="/animal/duck_feed">Duck Feed</a></li>
              <li><i class="fa fa-chevron-right"></i> <a href="/animal/cow_feed">Cow Feed</a></li>
              <li><i class="fa fa-chevron-right"></i> <a href="/animal/rabbit_feed">Rabbit Feed</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Chin San Nursery </span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/resi-free-bootstrap-html-template/ -->
          Designed by <a>TWEB COMMERCE SERVICES</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="https://www.facebook.com/Chin-San-Nursery-Trading-100335771869443" class="facebook"><i class="fa fa-facebook"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Vendor JS Files -->

  <%= javascript_include_tag "jquery.min.js"%>
  <%= javascript_include_tag "bootstrap.bundle.min.js"%>
  <%= javascript_include_tag "jquery.easing.min.js"%>
  <%= javascript_include_tag "validate.js"%>
  <%= javascript_include_tag "jquery.waypoints.min.js"%>
  <%= javascript_include_tag "counterup.min.js"%>
  <%= javascript_include_tag "isotope.pkgd.min.js"%>
  <%= javascript_include_tag "aos.js"%>
  <%= javascript_include_tag "venobox.min.js"%>
  <%= javascript_include_tag "owl.carousel.min.js"%>

  <!-- Template Main JS File -->
  <%= javascript_include_tag "mainchinsan.js"%>

</body>

</html>