<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Chinsan</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/chinsanlogo-fe5b62d91f6d5bb9f508aae6231c21f4415984c867dda7568cab1fb60ef058f2.png"  rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Vendor CSS Files -->
  <%= stylesheet_link_tag "bootstrap.min.css" %>
  <%= stylesheet_link_tag "icofont.min.css" %> 
  <%= stylesheet_link_tag "boxicons.min.css" %> 
  <%= stylesheet_link_tag "aos.css" %> 
  <%= stylesheet_link_tag "line-awesome.min.css" %> 
  <%= stylesheet_link_tag "remixicon.css" %>
  <%= stylesheet_link_tag "owl.carousel.min.css" %>
  <%= stylesheet_link_tag "venobox.css" %>

  <!-- Template Main CSS File -->
  <%= stylesheet_link_tag "stylechinsan.css" %>

  <!-- =======================================================
  * Template Name: Resi - v2.1.0
  * Template URL: https://bootstrapmade.com/resi-free-bootstrap-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  
</head>

<body>

   <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center">
      <div class="logo mr-auto">
        <h1 class="text-light"><span><img src="<%= asset_path('chinsan/chinsanlogo.png') %>" alt=""></span></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>   
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/chinsan">Home</a></li>
          <li><a href="/chinsan#about">About</a></li>
          <li class="drop-down"><a href="/chinsan#product">Products</a>
            <ul>
              <li><a href="/animal/fish_feed">Fish Feed</a></li>
              <li><a href="/animal/dog_feed">Dog Food</a></li>
              <li><a href="/animal/chicken_feed">Chicken Feed</a></li>
              <li><a href="/animal/cat_feed">Cat Food</a></li>
              <li><a href="/animal/cow_feed">Cow Feed</a></li>
              <li><a href="/animal/rabbit_feed">Rabbit Feed</a></li>
              <li><a href="/animal/duck_feed">Duck Feed</a></li>
            </ul>
          </li>
          <li><a href="/chinsan#contact">Contact</a></li>
        </ul>
    </div>
  </header><!-- End Header -->