<div class="row mt20 mb20">
  <%= render 'header' %>
</div>

  <main id="main">

      <!-- ======= Hero Section ======= -->
  <section id="production" class="d-flex align-items-center" style=" background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url('<%= asset_path('chinsan/chicken_feed.jpg') %>')top center no-repeat; background-size: cover; background-position: bottom ;background-repeat: no-repeat;">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 pt-2 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <br><br><br><br><br><br>
          <h1>Chicken Feed</h1>
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">




  <!-- ======= Works Section ======= -->
    <section class="section site-portfolio">
      <div class="container">
        <div class="row mb-5 align-items-center">
          <div class="col-md-12 col-lg-6 mb-4 mb-lg-0" data-aos="fade-up">
            <h2>Get the right chicken feed here</h2>
            <p>Select the correct one to growth bigger size.</p>
          </div>
          <div class="col-md-12 col-lg-6 text-left text-lg-right" data-aos="fade-up" data-aos-delay="100">
            <div id="filters" class="filters">
              <a href="#" data-filter="*" class="active">All</a>
              <a href="#" data-filter=".cargill">Cargill</a>
              <a href="#" data-filter=".jagung">Jagung</a>
            </div>
          </div>
        </div>
        <div id="portfolio-grid" class="row no-gutter" data-aos="fade-up" data-aos-delay="200">
          <div class="item cargill col-sm-6 col-md-4 col-lg-4 mb-4" >
            <a href="<%= asset_path('chinsan/chicken_feed2.png') %>" class="item-wrap venobox" title="Cargill Broiler Starter">
              <div class="work-info">
                <h3>Cargill Broiler Starter</h3>
                <span>50KG</span>
              </div>
              <img class="img-fluid" src="<%= asset_path('chinsan/chicken_feed22.png') %>">
            </a>
          </div>
          <div class="item jagung col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('chinsan/chicken_feed5.png') %>" class="item-wrap venobox" title="Jagung Hancur">
              <div class="work-info">
                <h3>Jagung Hancur</h3>
                <span>5KG</span>
              </div>
              <img class="img-fluid" src="<%= asset_path('chinsan/chicken_feed55.png') %>">
            </a>
          </div>
          <div class="item jagung col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('chinsan/chicken_feed6.png') %>" class="item-wrap venobox" title="Jagung Hancur">
              <div class="work-info">
                <h3>Jagung Hancur</h3>
                <span>20KG</span>
              </div>
              <img class="img-fluid" src="<%= asset_path('chinsan/chicken_feed66.png') %>">
            </a>
          </div>
          <div class="item jagung col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('chinsan/chicken_feed8.png') %>" class="item-wrap venobox" title="Jagung Hancur">
              <div class="work-info">
                <h3>Jagung</h3>
                <span>40KG</span>
              </div>
              <img class="img-fluid" src="<%= asset_path('chinsan/chicken_feed88.png') %>">
            </a>
          </div>
          <div class="item cargill col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('chinsan/chicken_feed3.png') %>" class="item-wrap venobox" title="Cargill Broiler Grower">
              <div class="work-info">
                <h3>Cargill Broiler Grower</h3>
                <span>50KG</span>
              </div>
              <img class="img-fluid" src="<%= asset_path('chinsan/chicken_feed33.png') %>">
            </a>
          </div>
          <div class="item jagung col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('chinsan/chicken_feed9.png') %>" class="item-wrap venobox" title="Jagung">
              <div class="work-info">
                <h3>Jagung </h3>
                <span>40KG</span>
              </div>
              <img class="img-fluid" src="<%= asset_path('chinsan/chicken_feed99.png') %> ">
            </a>
          </div>
          <div class="item jagung col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('chinsan/chicken_feed4.png') %>" class="item-wrap venobox" title="Jagung Hancur">
              <div class="work-info">
                <h3>Jagung Sedang</h3>
                <span>5KG</span>
              </div>
              <img class="img-fluid" src="<%= asset_path('chinsan/chicken_feed44.png') %>">
            </a>
          </div>
          <div class="item jagung col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('chinsan/chicken_feed7.png') %>" class="item-wrap venobox" title="Jagung Hancur">
              <div class="work-info">
                <h3>Jagung Sedang</h3>
                <span>20KG</span>
              </div>
              <img class="img-fluid" src="<%= asset_path('chinsan/chicken_feed77.png') %>">
            </a>
          </div>
          <div class="item cargill col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="<%= asset_path('chinsan/chicken_feed1.png') %>" class="item-wrap venobox" title="Cargill Red Max">
              <div class="work-info">
                <h3>Cargill Red Max</h3>
                <span>25KG</span>
              </div>
              <img class="img-fluid" src="<%= asset_path('chinsan/chicken_feed11.png') %>">
            </a>
          </div>
        </div>
      </div>
    </section><!-- End  Works Section -->


  </main><!-- End #main -->

<div>
  <%= render 'footer' %>
</div>
