<div class="row mt20 mb20">
  <%= render 'header.html.erb' %>
</div>


  <main id="main">

      <!-- ======= Hero Section ======= -->
  <section id="production" class="d-flex align-items-center" style=" background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url('<%= asset_path('chinsan/fishfeed.jpg') %>')top center no-repeat; background-size: cover; background-position: center ;background-repeat: no-repeat;">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 pt-2 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <br><br><br><br><br><br>
          <h1>Fish Feed</h1>
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

  <!-- ======= Works Section ======= -->
    <section class="section site-portfolio">
      <div class="container">
        <div class="row mb-5 align-items-center">
          <div class="col-md-12 col-lg-6 mb-4 mb-lg-0" data-aos="fade-up">
            <h2>Get the right Fish feed here</h2>
            <p>Select the correct one to growth bigger size.</p>
          </div>
          <div class="col-md-12 col-lg-6 text-left text-lg-right" data-aos="fade-up" data-aos-delay="100">
            <div id="filters" class="filters">
              <a href="#" data-filter="*" class="active">All</a>
              <a href="#" data-filter=".dinding">Dindings</a>
              <a href="#" data-filter=".cargill">Cargill</a>
              <a href="#" data-filter=".multifeed">Multi Feed</a>
              <a href="#" data-filter=".winner">Winner</a>
            </div>
          </div>
        </div>
        <div id="portfolio-grid" class="row no-gutter" data-aos="fade-up" data-aos-delay="200">
          <div class="item dinding col-sm-6 col-md-4 col-lg-4 mb-4" >
            <a href="<%= asset_path('chinsan/fish_feed7.png') %>" class="item-wrap venobox" title="9201">
              <div class="work-info">
                <h3>9201</h3>
                <span>20KG</span>
              </div>
              <img class="img-fluid" src="<%= asset_path('chinsan/fish_feed77.png') %>">
            </a>
          </div>
          <div class="item dinding col-sm-6 col-md-4 col-lg-4 mb-4" >
            <a href="<%= asset_path('chinsan/fish_feed8.png') %>" class="item-wrap venobox" title="7901">
              <div class="work-info">
                <h3>7901</h3>
                <span>20KG</span>
              </div>
              <img class="img-fluid" src="<%= asset_path('chinsan/fish_feed88.png') %>">
            </a>
          </div>
          <div class="item dinding col-sm-6 col-md-4 col-lg-4 mb-4" >
            <a href="<%= asset_path('chinsan/fish_feed9.png') %>" class="item-wrap venobox" title="9102">
              <div class="work-info">
                <h3>9102</h3>
                <span>20KG</span>
              </div>
              <img class="img-fluid" src="<%= asset_path('chinsan/fish_feed99.png') %>">
            </a>
          </div>
          <div class="item multifeed col-sm-6 col-md-4 col-lg-4 mb-4" >
            <a href="<%= asset_path('chinsan/fish_feed10.png') %>" class="item-wrap venobox" title="558">
              <div class="work-info">
                <h3>558</h3>
                <span>20KG</span>
              </div>
              <img class="img-fluid" src="<%= asset_path('chinsan/fish_feed1010.png') %>">
            </a>
          </div>
          <div class="item cargill col-sm-6 col-md-4 col-lg-4 mb-4" >
            <a href="<%= asset_path('chinsan/fish_feed11.png') %>" class="item-wrap venobox" title="6363">
              <div class="work-info">
                <h3>6363</h3>
                <span>20KG</span>
              </div>
              <img class="img-fluid" src="<%= asset_path('chinsan/fish_feed1111.png') %>">
            </a>
          </div>
          <div class="item cargill col-sm-6 col-md-4 col-lg-4 mb-4" >
            <a href="<%= asset_path('chinsan/fish_feed12.png') %>" class="item-wrap venobox" title="6113-S">
              <div class="work-info">
                <h3>6113-S</h3>
                <span>20KG</span>
              </div>
              <img class="img-fluid" src="<%= asset_path('chinsan/fish_feed1212.png') %>">
            </a>
          </div>
          <div class="item cargill col-sm-6 col-md-4 col-lg-4 mb-4" >
            <a href="<%= asset_path('chinsan/fish_feed13.png') %>" class="item-wrap venobox" title="6123">
              <div class="work-info">
                <h3>6123</h3>
                <span>20KG</span>
              </div>
              <img class="img-fluid" src="<%= asset_path('chinsan/fish_feed1313.png') %>">
            </a>
          </div>
          <div class="item winner col-sm-6 col-md-4 col-lg-4 mb-4" >
            <a href="<%= asset_path('chinsan/fish_feed14.png') %>" class="item-wrap venobox" title="3">
              <div class="work-info">
                <h3>3</h3>
                <span>20KG</span>
              </div>
              <img class="img-fluid" src="<%= asset_path('chinsan/fish_feed1414.png') %>">
            </a>
          </div>
          <div class="item winner col-sm-6 col-md-4 col-lg-4 mb-4" >
            <a href="<%= asset_path('chinsan/fish_feed15.png') %>" class="item-wrap venobox" title="2">
              <div class="work-info">
                <h3>2</h3>
                <span>20KG</span>
              </div>
              <img class="img-fluid" src="<%= asset_path('chinsan/fish_feed1515.png') %>">
            </a>
          </div>

        </div>
      </div>
    </section><!-- End  Works Section -->


  </main><!-- End #main -->

<div>
  <%= render 'footer.html.erb' %>
</div>