<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Chinsan</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/chinsanlogo-fe5b62d91f6d5bb9f508aae6231c21f4415984c867dda7568cab1fb60ef058f2.png"  rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Vendor CSS Files -->
  <%= stylesheet_link_tag "bootstrap.min.css" %>
  <%= stylesheet_link_tag "icofont.min.css" %> 
  <%= stylesheet_link_tag "boxicons.min.css" %> 
  <%= stylesheet_link_tag "aos.css" %> 
  <%= stylesheet_link_tag "line-awesome.min.css" %> 
  <%= stylesheet_link_tag "remixicon.css" %>
  <%= stylesheet_link_tag "owl.carousel.min.css" %>
  <%= stylesheet_link_tag "venobox.css" %>

  <!-- Template Main CSS File -->
  <%= stylesheet_link_tag "stylechinsan.css" %>

  <!-- =======================================================
  * Template Name: Resi - v2.1.0
  * Template URL: https://bootstrapmade.com/resi-free-bootstrap-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  
</head>

<body>

   <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center">
      <div class="logo mr-auto">
        <h1 class="text-light"><span><img src="<%= asset_path('chinsan/chinsanlogo.png') %>" alt=""></span></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>   
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/chinsan">Home</a></li>
          <li><a href="/chinsan#about">About</a></li>
          <li class="drop-down"><a href="/chinsan#product">Products</a>
            <ul>
              <li><a href="/animal/dog_feed">Dog Food</a></li>
              <li><a href="/animal/chicken_feed">Chicken Feed</a></li>
              <li><a href="/animal/fish_feed">Fish Feed</a></li>
              <li><a href="/animal/cat_feed">Cat Food</a></li>
              <li><a href="/animal/cow_feed">Cow Feed</a></li>
              <li><a href="/animal/rabbit_feed">Rabbit Feed</a></li>
              <li><a href="/animal/duck_feed">Duck Feed</a></li>
            </ul>
          </li>
          <li><a href="/chinsan#contact">Contact</a></li>
        </ul>
    </div>
  </header><!-- End Header -->
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center" style=" background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url('<%= asset_path('chinsan/chickenfeeding.jpg') %>')top center no-repeat; background-size: cover; background-position: top ;background-repeat: no-repeat;"  >

    <div class="container">
      <div class="row">
        <div class="col-lg-8 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 style="text-align: left;">Welcome</h1>
          <h3 style="color:white; text-align: left;">We are the Leading Animal Feed Distributor in Malaysia</h3>
          <h5 style="color:white; text-align: left;">More than 30 years of experience in the industry</h5>
          <ul>
            <li><i class="fa fa-check"></i>Poultry Feed</li>
            <li><i class="fa fa-check"></i> Fish Feed </li>
            <li><i class="fa fa-check"></i> Dog Food </li>
            <li><i class="fa fa-check"></i> Cat Food </li>
            <li><i class="fa fa-check"></i> Cow Feed</li>
            <li><i class="fa fa-check"></i> Rabbit Feed</li>
          </ul>
          <div class="mt-1">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
        <div class="col-lg-4 pt-2 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center hero-img">
          <img src="<%= asset_path('chinsan/award.png') %>"  class="img-fluid" alt="">
        </div>

      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row content">
          <div class="col-lg-6">
            <br><br>
            <h2>Why Us</h2>
            <h5 style="text-align: justify;">We are leading animal feed suppliers in Malaysia. We are one of the largest authorised distributor of Cargill Malaysia and Dindings Malaysia. With over 30 years of experience in the industry, it is safe to say that we are the number one choice when it comes to all your needs and requirements. We have customers from all over the peninsular of Malaysia. </h5>
            <h2>Animal Feed</h2>
            <h5 style="text-align: justify;">Good animal feeding plays a vital role in animal health & welfare and in the production of safe and quality products of animal origin.</h5>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p><h2>Our Animal Feed</h2>
              <br>
              <i class="fa fa-check"></i>From Trusted Manufacturer
              <br>
              <i class="fa fa-check"></i>Premium Quality
              <br>
              <i class="fa fa-check"></i>Reasonable Price
              </p>
              <h2>What product we choose</h2>
            <p style="text-align: justify;">
              Food production is a complex process, with the ultimate objective of the food industry and food safety regulators being to ensure that food reaching the consumer is safe and wholesome. Food generally expected to be safe may become unsafe due to the introduction of hazards during production, processing, storage, transport, or final preparation for consumption. Guide to improve your animal growth.
            </p>
            <ul>
              <li><i class="fa fa-check-square-o"></i> In order to provide the right amount of nutrients to the animals, we need to make precision feeding.</li>
              <li><i class="fa fa-check-square-o"></i> Cereals and grains used to feed farmed animals are a good source of energy and their protein.</li>
              <li><i class="fa fa-check-square-o"></i> Analyse the quality of raw materials used for animal feed</li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">

          <div class="col-lg-4">
            <div class="box">
              <span>01</span>
              <h4>Extensive Animal Feed</h4>
              <p> Formulate the right diet for your animals to support their healthy growth and deliver higher yields.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box">
              <span>02</span>
              <h4>Quantity</h4>
              <p>We produce products in quantity without neglecting quality. We scaling our business with quantity and quality. </p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box">
              <span>03</span>
              <h4>Key for Animal feed</h4>
              <p>The perception that protein equals meat continues to be a key to growth. Correct nitrition and protein feed is the key.</p>

            </div>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg" style=" background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url(/assets/aniaml-feed-bbb6575145ee5b933b94308795af738546420161bea2e1bd59a40673a2bdab1f.jpg)top center no-repeat; background-size: cover; background-position: top ;background-repeat: no-repeat;"  >
      <div class="container">

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="fa fa-users"></i>
              <span data-toggle="counter-up">300,000</span>
              <p>Clients Serve</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="fa fa-shopping-bag"></i>
              <span data-toggle="counter-up">50++</span>
              <p>Product Variety</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="fa fa-globe"></i>
              <span data-toggle="counter-up">87,600</span>
              <p>Hours Of Support</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="fa fa-handshake-o"></i>
              <span data-toggle="counter-up"> <%=(Time.now.beginning_of_year - -10.year).strftime("%y")%></span>
              <p>Year of services</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->
    <!-- ======= Works Section ======= -->
    <section id="product" class="portfolio">
      <div class="container">
          <div class="section-title">
          <h2>Products</h2>
        </div>
        <div id="portfolio-grid" class="row no-gutter" data-aos="fade-up" data-aos-delay="200">
          <div class="item web col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="/animal/dog_feed" class="item-wrap fancybox">
              <div class="work-info">
                <h3>Dog</h3>
                <span>Food</span>
              </div>
              <img class="img-fluid" src="<%= asset_path('chinsan/dog.png') %>">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="/animal/chicken_feed" class="item-wrap fancybox">
              <div class="work-info">
                <h3>Chicken</h3>
                <span>Feed</span>
              </div>
              <img class="img-fluid" src="<%= asset_path('chinsan/chicken111.png') %>">
            </a>
          </div>
          <div class="item branding col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="/animal/fish_feed" class="item-wrap fancybox">
              <div class="work-info">
                <h3>Fish</h3>
                <span>Feed</span>
              </div>
              <img class="img-fluid" src="<%= asset_path('chinsan/fish.png') %>">
            </a>
          </div>
          <div class="item design col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="/animal/cat_feed" class="item-wrap fancybox">
              <div class="work-info">
                <h3>Cat</h3>
                <span>Food</span>
              </div>
              <img class="img-fluid" src="<%= asset_path('chinsan/cat.png') %>">
            </a>
          </div>
          <div class="item design col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="/animal/duck_feed" class="item-wrap fancybox">
              <div class="work-info">
                <h3>Duck</h3>
                <span>Feed</span>
              </div>
              <img class="img-fluid" src="<%= asset_path('chinsan/duck.png') %>">
            </a>
          </div>
          <div class="item design col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="/animal/cow_feed" class="item-wrap fancybox">
              <div class="work-info">
                <h3>Cow</h3>
                <span>Feed</span>
              </div>
              <img class="img-fluid" src="<%= asset_path('chinsan/cowfeed.jpg') %>">
            </a>
          </div>
          <div class="item design col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="/animal/rabbit_feed" class="item-wrap fancybox">
              <div class="work-info">
                <h3>Rabbit</h3>
                <span>Feed</span>
              </div>
              <img class="img-fluid" src="<%= asset_path('chinsan/rabbitfeed.jpg') %>">
            </a>
          </div>

        </div>
      </div>
    </section><!-- End  Works Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contact us to get an quotation. </p>
        </div>

        <div class="row">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="fa fa-map"></i>
                  <h3>Our Address</h3>
                  <p> No. 7124, Jalan Simpang Empat, Taboh Naing 78000 Alor Gajah Melaka</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="fa fa-envelope"></i>
                  <h3>Email Us</h3>
                  <p>chinsannursery@gmail.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="fa fa-phone"></i>
                  <h3>For Large Quantity Order</h3>
                  <p>+012-6665116<br>&nbsp;</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 ">
            <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJL9nuOAoEzjERooqx0KFp3yU&key=AIzaSyBRW_afzr56mGQf3vbzr2oNWXQ9_4JxGlw"frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Chin San Nursery</h3>
            <p>
              7124, 19, 78000<br>
               Alor Gajah, Malacca <br>
              <strong>Phone:</strong> +012-666 5116<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="fa fa-chevron-right"></i> <a href="chinsan">Home</a></li>
              <li><i class="fa fa-chevron-right"></i> <a href="/chinsan#about">About Us</a></li>
              <li><i class="fa fa-chevron-right"></i> <a href="/chinsan#product">Product</a></li>
              <li><i class="fa fa-chevron-right"></i> <a href="/chinsan#contact">Contact Us</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="fa fa-chevron-right"></i> <a href="/animal/dog_feed">Dog Food</a></li>
              <li><i class="fa fa-chevron-right"></i> <a href="/animal/chicken_feed">Chicken Feed</a></li>
              <li><i class="fa fa-chevron-right"></i> <a href="/animal/fish_feed">Fish Feed</a></li>
              <li><i class="fa fa-chevron-right"></i> <a href="/animal/cat_feed">Cat Food</a></li>
              <li><i class="fa fa-chevron-right"></i> <a href="/animal/duck_feed">Duck Feed</a></li>
              <li><i class="fa fa-chevron-right"></i> <a href="/animal/cow_feed">Cow Feed</a></li>
              <li><i class="fa fa-chevron-right"></i> <a href="/animal/rabbit_feed">Rabbit Feed</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Chin San Nursery </span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/resi-free-bootstrap-html-template/ -->
          Designed by <a>TWEB COMMERCE SERVICES</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="https://www.facebook.com/Chin-San-Nursery-Trading-100335771869443" class="facebook"><i class="fa fa-facebook"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Vendor JS Files -->

  <%= javascript_include_tag "jquery.min.js"%>
  <%= javascript_include_tag "bootstrap.bundle.min.js"%>
  <%= javascript_include_tag "jquery.easing.min.js"%>
  <%= javascript_include_tag "validate.js"%>
  <%= javascript_include_tag "jquery.waypoints.min.js"%>
  <%= javascript_include_tag "counterup.min.js"%>
  <%= javascript_include_tag "isotope.pkgd.min.js"%>
  <%= javascript_include_tag "aos.js"%>
  <%= javascript_include_tag "venobox.min.js"%>
  <%= javascript_include_tag "owl.carousel.min.js"%>

  <!-- Template Main JS File -->
  <%= javascript_include_tag "mainchinsan.js"%>

</body>

</html>