<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>IconMaker</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">
  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


  <%= stylesheet_link_tag "bootstrap.min.css" %>
  <%= stylesheet_link_tag "icofont.min.css" %>
  <%= stylesheet_link_tag "ionicons.min.css" %>
  <%= stylesheet_link_tag "animate.min.css" %>
  <%= stylesheet_link_tag "font-awesome.min.css" %>
  <%= stylesheet_link_tag "boxicons.min.css" %> 
  <%= stylesheet_link_tag "venobox.css" %>
  <%= stylesheet_link_tag "owl.carousel.min.css" %>
  <%= stylesheet_link_tag "aos.css" %>


  <!-- Template Main CSS File -->
  <%= stylesheet_link_tag "styleiconmaker.css" %>

  <!-- =======================================================
  * Template Name: Personal - v2.3.0
  * Template URL: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>



  <!-- ======= Intro Section ======= -->
  <section id="intro" >
    <div class="intro-container">
<div id="introCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox" >

          <div class="carousel-item active  parallax-content" style="background: linear-gradient( rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%),  url(<%= asset_path'iconmaker/livingroom.png' %>) center no-repeat; background-size: cover;"> 
            <div class="carousel-container ">
                  <div class="container animate__animated animate__fadeInDown">
                    <h1 class="text-light logo " ><a><img src=" <%= asset_path'iconmaker/iconmaker2.png' %>" style="margin-left:-15px;" data-aos="zoom-in-up" data-aos-once="false" width="380" height="90"></a></h1>
                    <!-- Uncomment below if you prefer to use an image logo -->
                    <!-- <a href="index.html" class="mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
                    <nav class="nav-menu d-none">
                      <ul>
                        <li class="active"><a href="/iconmaker">HOME</a></li>
                        <li><a href="iconmaker/about">ABOUT</a></li>
                        <li><a href="/service">SERVICES</a></li>
                        <li><a href="/portfolio">PORTFOLIO</a></li>
                        <li><a href="/contact_us">CONTACT</a></li>
                        <span style="text-decoration:overline; font-size:30px;"><br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</span>
                      </ul>
                      <ul>
                        <li>Operating Hours <br>Monday-Friday<br>9:00AM - 6:00PM</li>
                        <div class="container ">
                          <li><a href="Tel: 012-267 0718"><i class="fa fa-phone" style="font-size:30px" aria-hidden="true"></i> 012-267 0718</a></li>
                          <li><i class="fa fa-location-arrow" aria-hidden="true"></i>17B, Jalan Jejaka 5 Taman Maluri, <br>Cheras, 55100 Kuala Lumpur</li>
                        </div>
                      </ul>
                      <span style="text-decoration:overline; font-size:30px;"><br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</span>
                      <div class="row" style="margin-top: -40px;">
                        <li class="col-2"></li>
                        <li class="col-3"></li>
                        <li class="col-1"><a><i class="fa fa-facebook-square" style="font-size:30px;" aria-hidden="true"></i></a></li>
                        <li class="col-1"><a><i class="fa fa-instagram" style="font-size:30px;" aria-hidden="true"></i></a></li>
                        <li class="col-3"></li>
                        <li class="col-2"></li>
                      </div>
                    </nav><!-- .nav-menu -->
                  
                    <div class="social-links " data-aos="zoom-in-up" data-aos-once="false" >
                      <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                      <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                      <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                      <a href="#" class="google-plus"><i class="fa fa-skype"></i></a>
                      <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
            </div>
          </div>

          <div class="carousel-item " style="background-image: url(<%= asset_path'iconmaker/cozydesign.png' %>)">
            <div class="carousel-container">
              <div class="container">
                 <div class="hero-nav container">
                  <div class="hero-nav__inner content-cover col-8 " data-aos="zoom-in-up" data-aos-once="false">
                      <h1 class="animate__animated animate__fadeInDown" style="margin-top:120px; color:#fafbfc; font-family: 'Optima';"> <a class=" btn-get-started scrollto animate__animated animate__fadeInUp mb-auto p-1 floating"><br><br><br><br></a>dea from us</h1>
                      <div class="hero-nav__button">
                          <a href="#" class="btn"></a>
                      </div>
                  </div>
              </div>
              </div>
            </div>
          </div>
          <div class="carousel-item" style="background-image: url(<%= asset_path'iconmaker/bed1.png' %>)">
            <div class="carousel-container">
              <div class="container d-flex align-items-end flex-column" style="margin-bottom: 40px;">
                <a class=" btn-get-started scrollto animate__animated animate__fadeInUp mb-auto p-1 floating" style="margin-right:210px;"></a>
                <a class=" btn-get-started scrollto animate__animated animate__fadeInUp p-1 floating" style="margin-right:210px;"></a>
                <div  class=" scrollto animate__animated animate__fadeInUp p-2 " style="font-family: 'Optima'; color:#fafbfc; font-size:40px; margin-right:85px;">Relax<span class="blink_me">__</span></div>
 
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url(<%= asset_path'iconmaker/shirtrobe.png' %>)">
            <div class="carousel-container">
              <div class="forth-nav container">
                  <div class="forth-nav__inner cover col-8 " data-aos="zoom-in-up" data-aos-once="false">
              <div class="container d-flex align-items-center flex-column">
                <h1 class=" text-light logo zoom" ><a><img src="<%= asset_path'iconmaker/iconmaker2.png' %>" style="margin-top:280px;margin-left:-150px;" data-aos="zoom-in-up" data-aos-once="false" width="360" height="85"></a></h1>              
              </div>
            </div>
          </div>
        </div>
          </div>
          <div class="carousel-item" style="background: linear-gradient( rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%), url(<%= asset_path'iconmaker/toliet.png' %>) center no-repeat; background-size: cover;">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown"  style="margin-top:120px; color:#fafbfc;" ><span style="font-family:'Brush Script MT'; font-size:35px; ">Be faithful </span><span style="font-family:'Perpetua';">to your own taste,</span><br> <span style="font-family:'Brush Script MT';  font-size:35px;">because</span><span style="font-family:'Perpetua';"> nothing you really like is ever out of style.</span></h2>               
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon fa fa-angle-left" style="" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon fa fa-angle-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- End Intro Section -->


  <div class="parallax" data-parallax="scroll" data-z-index="1" style=""
    data-image-src="<%= asset_path'iconmaker/moderndesign.png' %>">
    <div class="hero-nav container">
        <div class="hero-nav__inner content " data-aos="zoom-in-up" data-aos-once="false">
            <h1>About Us</h1>
            <p class="animate__animated animate__fadeInUp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <div class="hero-nav__button">
                <a href="#" class="btn"></a>
            </div>
        </div>
    </div>
  </div>

   <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio" style="background-color: #D3D3D3;">
      <div class="container" data-aos="fade-up">
        <br><br>
        <div class="section-header">
          <h3 class="section-title" style="margin-left:80px; ">Projects</h3>
        </div>

        <br>
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
        <a href="/iconmaker">
          <div class="col-lg-12 col-sm-12 col-md-12 col-12 portfolio-item filter-app" href="#">
            <div class="portfolio-product1" href="#">
              <img src="<%= asset_path'iconmaker/cozydesign.png' %>" width="1200" class="img-fluid" alt="">
              <div class="portfolio-info">      
                    <div  class="portfolio-nav container">
                      <div class="portfolio-nav__inner containerer" data-aos="zoom-in-up" data-aos-once="false">
                        <br><br><br>
                      <h1  href="#" class="animate__animated animate__fadeInDown" style=" color:#fafbfc; font-family: 'Optima';">dea from ussdfsdfs sdfss sdfsdfs</h1>
                      
                </div>
              </div>
            </div>
          </div>
        </a>
          <div class="col-lg-4 col-sm-4 col-md-4 col-4 portfolio-item filter-app">
            <div class="portfolio-product1">
              <img src="<%= asset_path'iconmaker/cozydesign.png' %>" width="600" class="img-fluid" alt="">
              <div class="portfolio-info">      
                <div class="portfolio-links">
                  <div class="icon-box">
                    <a href="/payment" target="_blank"><button type="button" class="btn btn-danger">预购</button></a>
                    <a href="<%= asset_path'iconmaker/cozydesign.png' %>" data-gall="portfolioGallery" class="venobox" title="减脂茶"><button type="button" class="btn btn-danger">🔍</button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-sm-4 col-md-4 col-4 portfolio-item filter-app">
            <div class="portfolio-product1">
              <img src="<%= asset_path'iconmaker/cozydesign.png' %>" class="img-fluid" alt="">
              <div class="portfolio-info">      
                <div class="portfolio-links">
                  <div class="icon-box">
                    <a href="/payment" target="_blank"><button type="button" class="btn btn-danger">预购</button></a>
                    <a href="<%= asset_path'iconmaker/cozydesign.png' %>" data-gall="portfolioGallery" class="venobox" title="减脂茶"><button type="button" class="btn btn-danger">🔍</button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-sm-4 col-md-4 col-4 portfolio-item filter-app">
            <div class="portfolio-product1">
              <img src="<%= asset_path'iconmaker/cozydesign.png' %>" class="img-fluid" alt="">
              <div class="portfolio-info">      
                <div class="portfolio-links">
                  <div class="icon-box">
                    <a href="/payment" target="_blank"><button type="button" class="btn btn-danger">预购</button></a>
                    <a href="<%= asset_path'iconmaker/cozydesign.png' %>" data-gall="portfolioGallery" class="venobox" title="减脂茶"><button type="button" class="btn btn-danger">🔍</button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-sm-6 col-md-6 col-6 portfolio-item filter-card">
            <div class="portfolio-product1">
              <img src="<%= asset_path'iconmaker/cozydesign.png' %>" class="img-fluid" alt="">
              <div class="portfolio-info">
                <div class="portfolio-links">
                  <div class="icon-box">
                    <a href="/payment" target="_blank"><button type="button" class="btn btn-danger">预购</button></a>
                    <a href="<%= asset_path'iconmaker/cozydesign.png' %>" data-gall="portfolioGallery" class="venobox" title="减脂茶"><button type="button" class="btn btn-danger">🔍</button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-sm-6 col-md-6 col-6 portfolio-item filter-app">
            <div class="portfolio-product1">
              <img src="<%= asset_path'iconmaker/cozydesign.png' %>" class="img-fluid" alt="">
              <div class="portfolio-info">
                <div class="portfolio-links">
                  <div class="icon-box">
                    <a href="/payment" target="_blank"><button type="button" class="btn btn-danger">预购</button></a>
                    <a href="<%= asset_path'iconmaker/cozydesign.png' %> " data-gall="portfolioGallery" class="venobox" title="减脂茶"><button type="button" class="btn btn-danger">🔍</button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-sm-6 col-md-6 col-6 portfolio-item filter-app">
            <div class="portfolio-product1">
              <img src="<%= asset_path'iconmaker/cozydesign.png' %>" class="img-fluid" alt="">
              <div class="portfolio-info">
                <div class="portfolio-links">
                  <a href="/payment" target="_blank"><button type="button" class="btn btn-danger">预购</button></a>
                    <a href="<%= asset_path'iconmaker/cozydesign.png' %>" data-gall="portfolioGallery" class="venobox" title="减脂茶"><button type="button" class="btn btn-danger">🔍</button></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-sm-6 col-md-6 col-6 portfolio-item filter-app">
            <div class="portfolio-product1">
              <img src="<%= asset_path'iconmaker/cozydesign.png' %>" class="img-fluid" alt="">
              <div class="portfolio-info">
                <div class="portfolio-links">
                  <a href="/payment" target="_blank"><button type="button" class="btn btn-danger">预购</button></a>
                    <a href="<%= asset_path'iconmaker/cozydesign.png' %>" data-gall="portfolioGallery" class="venobox" title="减脂茶"><button type="button" class="btn btn-danger">🔍</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Portfolio Section -->


  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top" style="background-color: #424141;">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Iconmaker Group Sdn Bhd</h3>
            <p>
              17B, Jalan Jejaka 5 Taman Maluri,<br>
               Cheras, 55100 Kuala Lumpur <br>
              <strong>Phone:</strong> +012-267 0718<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="fa fa-chevron-right"></i> <a href="/iconmaker">Home</a></li>
              <li><i class="fa fa-chevron-right"></i> <a href="/iconmaker#about">About Us</a></li>
              <li><i class="fa fa-chevron-right"></i> <a href="/iconmaker#product">Product</a></li>
              <li><i class="fa fa-chevron-right"></i> <a href="/iconmaker#contact">Contact Us</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>ICONMAKER GROUP SDN BHD </span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/resi-free-bootstrap-html-template/ -->
          Designed by <a>TWEB COMMERCE SERVICES</a>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->


  <script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>

  <%= javascript_include_tag "parallax.js"%>
  <%= javascript_include_tag "parallax.min.js"%>
  <%= javascript_include_tag "jquery.min.js"%>
  <%= javascript_include_tag "bootstrap.bundle.min.js"%>
  <%= javascript_include_tag "jquery.easing.min.js"%>
  <%= javascript_include_tag "validate.js"%>
  <%= javascript_include_tag "jquery.waypoints.min.js"%>
  <%= javascript_include_tag "counterup.min.js"%>
  <%= javascript_include_tag "isotope.pkgd.min.js"%>
  <%= javascript_include_tag "venobox.min.js"%>
  <%= javascript_include_tag "owl.carousel.min.js"%>
  <%= javascript_include_tag "aos.js"%>
  <!-- Template Main JS File -->
  <%= javascript_include_tag "mainiconmaker.js"%>


</body>

</html>