<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Anran Nanometer 安然纳米</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <%= stylesheet_link_tag "bootstrap.min.css" %>
  <%= stylesheet_link_tag "icofont.min.css" %> 
  <%= stylesheet_link_tag "boxicons.min.css" %> 
  <%= stylesheet_link_tag "venobox.css" %>
  <%= stylesheet_link_tag "owl.carousel.min.css" %>
  <%= stylesheet_link_tag "aos.css" %>


  <!-- Template Main CSS File -->
  <%= stylesheet_link_tag "styleanran.css" %>



  <!-- =======================================================
  * Template Name: Squadfree - v2.2.0
  * Template URL: https://bootstrapmade.com/squadfree-free-bootstrap-template-creative/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>



    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts  section-bg">
      <div class="container">

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="fa fa-smile-o"></i>
              <span data-toggle="counter-up">668</span>
              <p><strong>满意客户</strong></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="fa fa-user-circle-o"></i>
              <span data-toggle="counter-up">5688</span>
              <p><strong>完成的客户服务</strong></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="fa fa-history"></i>
              <span data-toggle="counter-up">7,520</span>
              <p><strong>已营业时长</strong></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="fa fa-users"></i>
              <span data-toggle="counter-up">15</span>
              <p><strong>工作人员</strong></p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= faq Section ======= -->
   <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>汗蒸小知识</h2>
          <p>以下总结了客户经常会问的问题，您可通过一下问答来知道和了解的信息。</p>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up" data-aos="fade-up" data-aos-delay="100">
              <i class="fa fa-question-circle icon-help"></i> <a data-toggle="collapse" class="collapse" href="#faq-list-1">为什么会淡斑？ <i class="fa fa-angle-down icon-show"></i><i class="fa fa-angle-right icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
                <p>
                  生物波能促进皮下组织温度升高，皮肤排汗使毛孔扩张，皮肤内的色素及重金属元素随汗排出体外。负离子可降低重金属元素的活性，减少其对皮肤的伤害，从而使色斑淡化。
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="fa fa-question-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2" class="collapsed">为什么对感冒有好处？ <i class="fa fa-angle-down icon-show"></i><i class="fa fa-angle-right icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                <p>
                  负离子和生物波能有效杀灭感冒病毒，而且高温排汗可减轻感冒症状。
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="fa fa-question-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3" class="collapsed">为什么会改善乳腺小叶增生現象？  <i class="fa fa-angle-down icon-show"></i><i class="fa fa-angle-right icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                <p>
                  造成乳腺小叶增生的主要原因是人体内自由基过多， 而蒸房内负离子可以有效消除自由基 ， 起到预防及辅助治疗的作用。
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="fa fa-question-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-4" class="collapsed">为什么会促进伤囗憊合？ <i class="fa fa-angle-down icon-show"></i><i class="fa fa-angle-right icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                <p>
                  伤口愈合需要大量的营养成分，如：蛋白质，维生素及矿物质，而这些营养成分主要是通过血液运输完成的。生物波可促进血液循环，负离子可提高血液的携氧量，可以为伤口提供所需的养分，所以汗蒸可促进伤口的愈合
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="500">
              <i class="fa fa-question-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-5" class="collapsed">为什么会改善胃肠能？ <i class="fa fa-angle-down icon-show"></i><i class="fa fa-angle-right icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-parent=".faq-list">
                <p>
                  生物波能促进消化道内血液循环，提高消化吸收能力。负离子能调节肠道内神经反射，促进肠道蠕动，改善胃肠功能。
                </p>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>作品集</h2>
          <p>各式各样的客户在安然纳米的体验综合。</p>
        </div>

        <div class="row" data-aos="fade-in">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">全部</li>
              <li data-filter=".filter-app">个人</li>
              <li data-filter=".filter-card">双人</li>
              <li data-filter=".filter-web">组人</li>
            </ul>
          </div>
        </div>
        
          <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="<%= asset_path('anran/single1.jpg')%>" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="<%= asset_path('anran/single1.jpg') %>" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="fa fa-plus"></i></a>
                <a href="<%= asset_path('anran/single1.jpg') %>" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="fa fa-search-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="<%= asset_path('anran/group1.png') %>" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="<%= asset_path('anran/group1.png') %>" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="fa fa-plus"></i></a>
                <a href="<%= asset_path('anran/group1.png') %>" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="fa fa-search-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="<%= asset_path('anran/single2.jpg') %>" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="<%= asset_path('anran/single2.jpg') %>" data-gall="portfolioGallery" class="venobox" title="App 2"><i class="fa fa-plus"></i></a>
                <a href="<%= asset_path('anran/single2.jpg') %>" data-gall="portfolioGallery" class="venobox" title="App 2"><i class="fa fa-search-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="<%= asset_path('anran/couple1.jpg') %>" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="<%= asset_path('anran/couple1.jpg') %>" data-gall="portfolioGallery" class="venobox" title="Card 2"><i class="fa fa-plus"></i></a>
                <a href="<%= asset_path('anran/couple1.jpg') %>" data-gall="portfolioGallery" class="venobox" title="Card 2"><i class="fa fa-search-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="<%= asset_path('anran/group2.png') %>" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="<%= asset_path('anran/group2.png') %>" data-gall="portfolioGallery" class="venobox" title="Web 2"><i class="fa fa-plus"></i></a>
                <a href="<%= asset_path('anran/group2.png') %>" data-gall="portfolioGallery" class="venobox" title="Web 2"><i class="fa fa-search-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="<%= asset_path('anran/couple2.jpg') %>" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="<%= asset_path('anran/couple2.jpg') %>" data-gall="portfolioGallery" class="venobox" title="Card 1"><i class="fa fa-plus"></i></a>
                <a href="<%= asset_path('anran/couple2.jpg') %>" data-gall="portfolioGallery" class="venobox" title="Card 1"><i class="fa fa-search-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="<%= asset_path('anran/couple3.jpg') %>" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="<%= asset_path('anran/couple3.jpg') %>" data-gall="portfolioGallery" class="venobox" title="Card 3"><i class="fa fa-plus"></i></a>
                <a href="<%= asset_path('anran/couple3.jpg') %>" data-gall="portfolioGallery" class="venobox" title="Card 3"><i class="fa fa-search-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="<%= asset_path('anran/group3.png') %>" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="<%= asset_path('anran/group3.png') %>" class="venobox" title="Web 3"><i class="fa fa-plus"></i></a>
                <a href="<%= asset_path('anran/group3.png') %>" class="venobox" title="Web 3"><i class="fa fa-search-plus"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>客户感言</h2>
          <p>我们尊重并聆听客户需求和需要。从客户的反顾中从而得到提升。</p>
        </div>

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item" data-aos="fade-up">
            <p>
              <i class="fa fa-quote-left quote-icon-left"></i>
              服务一级棒， 快来体验吧！
              <i class="fa fa-quote-right quote-icon-right"></i>
            </p>
            <h3>李莉萍</h3>
            <h4>来自面子书主页的评价</h4>
          </div>

          <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
            <p>
              <i class="fa fa-quote-left quote-icon-left"></i>
              保养身体的好地方，排汗就等于排毒
              <i class="fa fa-quote-right quote-icon-right"></i>
            </p>
            <h3>Teng Foo Huat</h3>
            <h4>来自谷歌的评价</h4>
          </div>

          <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
            <p>
              <i class="fa fa-quote-left quote-icon-left"></i>
              真一个好地方呀！很美丽又很舒服。每天下午一点到五点的收费是rm15。
              <i class="fa fa-quote-right quote-icon-right"></i>
            </p>
            <h3>XINYI</h3>
            <h4>来自谷歌的评价</h4>
          </div>

          <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
            <p>
              <i class="fa fa-quote-left quote-icon-left"></i>
              五星好评
              <i class="fa fa-quote-right quote-icon-right"></i>
            </p>
            <h3>Mc Ming Choo </h3>
            <h4>来自面子书主页的评价</h4>
          </div>

          <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
            <p>
              <i class="fa fa-quote-left quote-icon-left"></i>
              推荐！
              <i class="fa fa-quote-right quote-icon-right"></i>
            </p>
            <h3>May Ang</h3>
            <h4>来自面子书主页的评价</h4>
          </div>

        </div>

      </div>
    </section><!-- End Testimonials Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>联系</h2>
          <p>如有任何疑问，请与我们联系。 您可以致电我们进行预订。</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="fa fa-map-marker"></i>
              <h3>所在地址</h3>
              <p>No. 51, Lorong Baru Nilam 21B, 
                <br>
              Bandar Bukit Tinggi 2, 41200 Klang, Selangor</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="fa fa-envelope"></i>
              <h3>电子邮件</h3>
              <p>contact@example.com</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="fa fa-volume-control-phone"></i>
              <h3>致电号码</h3>
              <p>+6 016-8000255</p>
            </div>
          </div>

        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-6 ">
            <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ElE1MSwgTG9yb25nIEJhdHUgTmlsYW0gMjFCLCBCYW5kYXIgQnVraXQgVGluZ2dpIDIsIDQxMjAwIEtsYW5nLCBTZWxhbmdvciwgTWFsYXlzaWEiMBIuChQKEgnT6LSWh6zNMRGJa_NspoHWPBAzKhQKEglHyuGeh6zNMRG77_8c--K6jQ&key=AIzaSyBRW_afzr56mGQf3vbzr2oNWXQ9_4JxGlw" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
          </div>

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div>
                <div class="footer-info" data-aos="fade-up" data-aos-delay="50">
                  <h3>安然纳米</h3>
                    <body>
                      <div class="container demo-bg">
                        <div class="row">
                          <div class="col-sm-2 col-xs-4"></div>
                            <div class="col-sm-7 col-xs-6 col-9">
                              <div class="business-hours">
                                <h2 class="title">Business Hours</h2>
                                <ul class="list-unstyled opening-hours">
                                  <li>Sun <span class="pull-right">2:00PM – 7:00PM</span></li>
                                  <li>Mon <span class="pull-right">2:00PM – 8:30PM</span></li>
                                  <li>Tue <span class="pull-right">2:00PM – 8:30PM</span></li>
                                  <li>Wed <span class="pull-right">2:00PM – 8:30PM</span></li>
                                  <li>Thu <span class="pull-right">2:00PM – 8:30PM</span></li>
                                  <li>Fri <span class="pull-right">2:00PM – 8:30PM</span></li>
                                  <li>Sat <span class="pull-right">2:00PM – 8:30PM</span></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                    </body>
                  <div class="social-links mt-3" style="font-size: 35px;">
                    <a href="https://www.facebook.com/anran.klang" class="facebook" target="_blank"><i class="fa fa-facebook-square"></i></a>
                    <a href="https://www.instagram.com/anran_wellness/?hl=en" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a>
                    <a href="https://www.google.com/maps/place/ANRAN+Nami+Wellness+Centre+Sdn+Bhd/@2.9978578,101.4434616,15z/data=!4m5!3m4!1s0x0:0x9ffc6ea4697c7149!8m2!3d2.997746!4d101.443513?hl=en" class="google-plus" target="_blank"><i class="fa fa-map-marker"></i></a>
                  </div>
                </div>
              </div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Anran Nanometer</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/squadfree-free-bootstrap-template-creative/ -->
        Designed by <a href="http://tweb.com.my/">TWEB COMMERCE SERVICES</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="fa fa-arrow-up"></i></a>

  <%= javascript_include_tag "jquery.min.js"%>
  <%= javascript_include_tag "bootstrap.bundle.min.js"%>
  <%= javascript_include_tag "jquery.easing.min.js"%>
  <%= javascript_include_tag "validate.js"%>
  <%= javascript_include_tag "jquery.waypoints.min.js"%>
  <%= javascript_include_tag "counterup.min.js"%>
  <%= javascript_include_tag "isotope.pkgd.min.js"%>
  <%= javascript_include_tag "venobox.min.js"%>
  <%= javascript_include_tag "owl.carousel.min.js"%>
  <%= javascript_include_tag "aos.js"%>
  <!-- Template Main JS File -->
  <%= javascript_include_tag "mainanran.js"%>

</body>

</html>